build/
build-*/
out/
cmake-build-*/

.vs/
.idea/
.cache/
.clangd/
CMakeUserPresets.json

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Testing/
compile_commands.json

*.user
*.obj
*.o
*.exe
*.dll
*.so
*.dylib
*.ilk
*.pdb
*.exp
*.lib
*.a
